body, html {
  background: #C6FFDD;  /* fallback for old browsers */
}

body {
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li.set {
  display: inline-block;
  width: 100px;
}

.set img {
  height: 100px;
}

.cloud {
  list-style-type: none;
  width: 80%;
  text-align: center;
  margin: auto;
}
.cloud li {
  list-style: none;
  display: inline-block;
  padding: 5px;
}

.cloud li:nth-of-type(3n + 1) {
  font-size: 1em;
}
.cloud li:nth-of-type(4n+3) {
  font-size: 1.5em;
}
.cloud li:nth-of-type(5n - 3) {
  font-size: 0.7em;
}